@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fff;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #2a2a2a;
}

img {
  width: 100%;
  overflow: hidden;
}

html header {
  background: #fafafa;
  height: 80px !important;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
}

html header div:first-child {
  display: flex;
}

html header div .logo {
  padding: 0 35px;
  margin: 30px 0;
  font-size: 24px;
  font-weight: 700;
  float: left;
}

html header div .logo h4 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #03a4ed;
}

.logo h4 span {
  color: #fe3f40;
}

html header nav {
  padding: 0 35px;
  margin: 30px 0;
  background-color: transparent;
}

html header nav ul {
  display: flex;
}

html header nav ul li {
  margin-right: 35px;
}

html header nav ul li:last-child {
  background-color: #fe3f40;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 50px;
}

html header nav ul li:last-child a {
  color: #fff !important;
  padding: 0px 20px;
  font-weight: 400;
}

html header nav ul li a {
  font-weight: 500;
  font-size: 15px;
  color: #2a2a2a;
  text-transform: capitalize;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

html header nav ul li a {
  color: #2a2a2a;
}

html header nav ul li a.active {
  color: #fe3f40 !important;
  opacity: 1;
}

.main-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 0px 120px 180px;
  position: relative;
  overflow: hidden;
  /* border: 1px solid #2a2a2a; */
}

.main-banner:after {
  content: "";
  background-image: url(../images/baner-dec-left.png);
  background-size: 150px 300px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  /* border: 1px solid #2a2a2a; */
}

.main-banner:before {
  content: "";
  background-image: url(../images/baner-dec-right.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0px;
  width: 90px;
  height: 290px;
}

.main-banner .container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width:100%;
  /* border: 1px solid #2a2a2a; */
}

.main-banner .container .left-content {
  margin-right: 50px;
  margin-top: 100px;
  width: min-content;
}

.main-banner .container .left-content h6 {
  text-transform: uppercase;
  font-size: 14px;
  color: #fe3f40;
  margin-bottom: 10px;
}

.main-banner .container .left-content h2 {
  font-size: 35px;
  font-weight: 700;
  color: #2a2a2a;
  line-height: 50px;
}

.main-banner .container .left-content h2 em {
  color: #03a4ed;
  font-style: normal;
}

.main-banner .container .left-content h2 span {
  color: #fe3f40;
}

.main-banner .container .left-content p {
  margin: 20px 0px;
  font-size: 11px;
  line-height: 20px;
}

.main-banner .left-content div {
  margin-top: 30px;
  width: 470px;
  height: 66px;
  position: relative;
}

.main-banner .container .left-content div button {
  position: absolute;
  right: 88px;
  top: 8px;
  height: 40px;
  display: inline-block;
  background-color: #fff;
  font-size: 13px;
  font-weight: 500;
  color: #fe3f40;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  outline: none;
  border: none;
}

.main-banner .container .left-content div input {
  width: 390px;
  height: 55px;
  background-color: #03a4ed;
  border-radius: 33px;
  border: none;
  outline: none;
  padding: 0px 25px;
  color: #fff;
  letter-spacing: 0.25px;
  font-size: 15px;
  font-weight: 300;
}

.main-banner .left-content div input::placeholder {
  color: #fff;
}

.main-banner .container .right-content {
  margin-right: 150px;
  /* border: 1px solid #2a2a2a; */
}

.banner-2 {
  background-image:url(../images/about-bg.png) ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
  width:100%;
  height: 100vh;
  /* border: 1px solid #2a2a2a; */
}

.image-2{
  background-image:url(../images/about-left-image.png) ;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 300px;
  margin-top: 100px;
  margin-right:0px;
  width: 470px;
  height: 400px;
  /* border: 1px solid #2a2a2a; */
}

.iconos{
  margin-top: 100px;
  margin-left: 10px;
  left: 0px;
  width: 800px;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
  /* border: 1px solid #2a2a2a; */
}

.icon{
  margin-top: 150px;
  width: 300px;
  height: 100px;
  /* border: 1px solid #2a2a2a; */
}

.col{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
}

.servicios{
  width: 150px;
  height: 60px;
  margin-bottom: 30px;
  margin-right: 10px;
  /* border: 1px solid #2a2a2a; */
}

.texto{
  width: 600px;
  height: 80px;
  margin-bottom: 10px;
  /* border: 1px solid #2a2a2a; */
}

.banner-2 .iconos .icon .col .texto h4{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
}

.banner-2 .iconos .icon .col .texto p{
  color: #fff;
  font-size: 10px;
}