@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fff;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #2a2a2a;
}

img {
  width: 100%;
  overflow: hidden;
}

html header {
  background: #fafafa;
  height: 80px !important;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
}

html header div:first-child {
  display: flex;
}

html header div .logo {
  padding: 0 35px;
  margin: 30px 0;
  font-size: 24px;
  font-weight: 700;
  float: left;
}

html header div .logo h4 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #03a4ed;
}

.logo h4 span {
  color: #fe3f40;
}

html header nav {
  padding: 0 35px;
  margin: 30px 0;
  background-color: transparent;
}

html header nav ul {
  display: flex;
}

html header nav ul li {
  margin-right: 35px;
}

html header nav ul li:last-child {
  background-color: #fe3f40;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 50px;
}

html header nav ul li:last-child a {
  color: #fff !important;
  padding: 0px 20px;
  font-weight: 400;
}

html header nav ul li a {
  font-weight: 500;
  font-size: 15px;
  color: #2a2a2a;
  text-transform: capitalize;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

html header nav ul li a {
    color: #2a2a2a;
}

html header nav ul li a.active {
    color: #fe3f40!important;
    opacity: 1;
}


