@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fff;
  overflow-x: auto; /* Permitir desplazamiento horizontal */
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #2a2a2a;
}

img {
  width: 100%;
  
}

html header { /* color y ajustes barra de navegación */
  background: #100D28;
  height: 80px !important;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
}
.logo {
  display: flex;
  align-items: center; /* Alinea verticalmente */
}

.logo-image {
  width: 50px; /* Ajusta el tamaño de la imagen según lo necesario */
  height: auto;
  margin-right: -4px; /* Añade espacio entre la imagen y el texto */

}


html header div:first-child {
  display: flex;
}

html header div .logo {
  padding: 0 35px;
  margin: 30px 0;
  font-size: 24px;
  font-weight: 700;
  float: left;
}

html header div .logo h4 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff
  
}

.logo h4 span {
  color: #fe3f40;
}

html header nav {
  padding: 0 35px;
  margin: 30px 0;
  background-color: transparent;
}

html header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

html header nav ul li {
  margin-right: 35px;
}

html header nav ul li:last-child {
  background-color: #fe3f40;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 50px;
  transition: all 0.3s ease; /* Transición suave para los cambios */
}

html header nav ul li:last-child a {
  color: #fff !important;
  padding: 0px 20px;
  font-weight: 400;
}
/* Estilo hover para el botón "Contact Now" */
html header nav ul li:last-child:hover {
  background-color: #d63933; /* Color de fondo al pasar el cursor */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
}

/* Estilo hover para el texto dentro del botón */
html header nav ul li:last-child:hover a {
  color: #fff; /* Mantén el texto blanco */
}

html header nav ul li a {
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
  height: 40px;
  line-height: 35px;
  border: transparent;
  letter-spacing: 1px;
  text-decoration: none;
  margin-top: -5px; /* Esto subirá las letras */
  transition: color 0.3s ease; /* Transición suave */
}

html header nav ul li a {
  color: #2a2a2a;
}

header nav ul li a:hover {
  color: #fe3f40; /* Color naranja al pasar el cursor */
}

html header nav ul li a { /* letras navbar about us,plans ... */
  color: #fff;
  opacity: 1;
}

/* Cambia a naranja al hacer clic y mantenerlo enfocado */
header nav ul li a:focus {
  color: #fe3f40;
  /* Opcional: negrita para resaltar */
}
.styled-image {
  background-image: url(../images/home3.png); /* Ruta de la imagen */
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain; /* Escalar la imagen para cubrir el contenedor */
  width: 550px;
  height: 545px;
  margin-top: 50px;
  overflow-x: auto; /* Permitir scroll horizontal */
  white-space: nowrap; /* Prevenir que el contenido se ajuste a nuevas líneas */
  flex-shrink: 0; /* Prevenir que la imagen se reduzca en pantallas pequeñas */
}
.right-content {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible; /* Evitar recortes */
  flex-shrink: 0; /* Evitar que se reduzca su tamaño en pantallas pequeñas */
  min-width: 550px; /* Asegurar que no sea más pequeño que la imagen */
}


.main-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 0px 120px 180px;
  position: relative;
  min-width: 100vw; /* Forzar que abarque al menos el ancho de la ventana */
  overflow-x: auto; /* Permitir desplazamiento horizontal */
  overflow-y: hidden; /* Opcional: evitar scroll vertical innecesario */
}

.main-banner:after {
  content: "";
  background-image: url(../images/baner-dec-left.png);
  background-size: 150px 300px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
}

.main-banner:before {
  content: "";
  background-image: url(../images/baner-dec-right.png);
  background-size: 160px 300px;
  background-repeat: no-repeat;
  position: absolute;
  right: -20px;
  top: 0px;
  width: 350px;
  height: 305px;
  z-index: 1; /* Asegura que esté encima del contenido pero detrás de otros elementos */
  pointer-events: none; /* Asegura que no interfiera con la interacción */
}

.main-banner .container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  position: relative; /* Asegura que el contenido respete su espacio */
  z-index: 2; /* Por encima del pseudo-elemento */
}

.main-banner .container .left-content {
  margin-right: 50px;
  margin-top: 100px;
  width: min-content;
}
.main-banner .left-content ul {
  margin: 20px 0 20px; /* Aumenta el margen superior para mayor separación del listado con el title*/
  padding: 0;
  list-style: none;
}
.main-banner .left-content ul li {
  margin-bottom: 15px; /* Ajusta este valor para mayor o menor separación entre los elements lista */
}
.main-banner .left-content ul li .emoji {
  font-size: 24px; /* Cambia este valor para ajustar el tamaño de los emojis*/
}
ul li strong {
  font-weight: bold;
  color: #2a2a2a; /* Mantén el mismo color del texto para coherencia */
}
.cus-message {
  margin-top: 15px; 
  font-size: 15px; /* Aumentar el tamaño del texto */
  font-weight: bold; /* Negrita */
  line-height: 1.6; /* Espaciado entre líneas */
  display: flex; /* Usar flexbox para organizar el emoji y el texto */
  align-items: center; /* Alineación vertical */
  white-space: nowrap; /* Evita que el texto se divida en líneas */
  flex-wrap: nowrap; /* Fuerza todo a mantenerse en una línea */
}
.cus-message a {
  margin-left: 5px; /* Espacio entre el texto y el enlace */
  color: blue; /* Color del enlace */
  text-decoration: underline; /* Subrayado */
}

.cus-message .emoji {
  font-size: 30px; /* Tamaño del emoji */
  margin-right: 10px; /* Separar el emoji del texto */
}

.main-banner .container .left-content h6 {
  text-transform: uppercase;
  font-size: 14px;
  color: #fe3f40;
  margin-bottom: 10px;
}

.main-banner .container .left-content h2 {
  font-size: 35px;
  font-weight: 700;
  color: #2a2a2a;
  line-height: 50px;
}

.main-banner .container .left-content h2 em {
  color: #03a4ed;
  font-style: normal;
}

.main-banner .container .left-content h2 span {
  color: #fe3f40;
}

.main-banner .container .left-content p {
  margin: 20px 0px;
  font-size: 11px;
  line-height: 20px;
}

.main-banner .container .left-content p a {
 text-decoration: none;
}

.main-banner .left-content div {
  margin-top: 30px;
  width: 470px;
  height: 66px;
  position: relative;
}

.main-banner .container .left-content div button {
  position: absolute;
  right: 88px;
  top: 8px;
  height: 40px;
  display: inline-block;
  background-color: #fff;
  font-size: 13px;
  font-weight: 500;
  color: #fe3f40;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  outline: none;
  border: none;
}

.main-banner .container .left-content div input {
  width: 390px;
  height: 55px;
  background-color: #03a4ed;
  border-radius: 33px;
  border: none;
  outline: none;
  padding: 0px 25px;
  color: #fff;
  letter-spacing: 0.25px;
  font-size: 15px;
  font-weight: 300;
}

.main-banner .left-content div input::placeholder {
  color: #fff;
}

.main-banner .container .right-content {
  margin-right: 150px;
}

.banner-2 {
  background-image: url(../images/about-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: 90vh;
}
/* 
.image-2 {
  background-image: url(../images/about-left-image.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 300px;
  margin-top: 100px;
  margin-right: 0px;
  width: 470px;
  height: 400px;
}*/

.iconos {
  margin-top: 100px;
  margin-left: 10px;
  left: 0px;
  width: 800px;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
}

.icon {
  margin-top: 150px;
  width: 300px;
  height: 100px;
}

.col {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
}

.servicios {
  width: 150px;
  height: 60px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.texto {
  width: 600px;
  height: 80px;
  margin-bottom: 10px;
}

.banner-2 .iconos .icon .col .texto h4 {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
}

.banner-2 .iconos .icon .col .texto p {
  color: #fff;
  font-size: 10px;
  line-height: 20px;
}

.Contact {
  background-image: url(../images/contact-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:100% 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: 90vh;
}

.text-left {
  margin-left: 50px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 400px;
}

.text-left h2,
.text-left p,
.text-left .phone h4 {
  color: white;
}

.text-left h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
}

.text-left p {
  line-height: 20px;
}

.text-left .phone {
  margin-top: 40px;
  font-weight: bold;
}

.text-left .phone h4 span a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
}

.form {
  margin-top: 100px;
  margin-left: 50px;
  width: 650px;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.form .formulario {
  margin-top: 50px;
  width: 400px;
  height: 350px;
  background-color: white;
  border-radius: 30px;
}

.form .formulario .campos-1 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 40px;
}

.form .formulario .campos-1 input {
  width: 40%;
  height: 30px;
  border-radius: 33px;
  background-color: #d1f3ff;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 0px 20px;
  margin-bottom: 10px;
}

.form .formulario .campo-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form .formulario .campo-2 input{
  width: 358px;
  height: 30px;
  border-radius: 33px;
  background-color: #d1f3ff;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 0px 20px;
  margin-bottom: 10px;
}

.form .formulario .campo-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form .formulario .campo-3 input{
  width: 90%;
  height: 130px;
  border-radius: 20px;
  background-color: #d1f3ff;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 15px 20px;
  margin-bottom: 10px;
}

.form .formulario .boton{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.form .formulario .boton button{
  display: inline-block;
  background-color: #03a4ed;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  border: none;
  outline: none;
}

.form .contact-decor {
  background-image: url(../images/contact-decoration.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  margin-top: 100px;
  margin-right: 0px;
  width: 150px;
  height: 300px;
}

footer {
  background: white;
  padding: 40px 0;
}

footer div {
  display: flex;
  justify-content: center;
  text-align: center;
}

footer p {
  margin: 15px 0px 30px 0px;
}

footer div p a {
  color: #fe3f40;
  text-decoration: none;
}  